Data Science Toools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

List popular languajes for Data Science, List popular tools for Data Science, List popular libraries for Data Science and much more

Some of the popular languages that Data Scientists use are:

1.Python

2.R

3.Java

4.SQL

5.Scala

Some of the commonly used libraries used by Data Scientists include:
1.Numpy
2.Pandas
3.Scikit-learn
4.Matplotlib

Data Science Tools

|Integrate.io|Python|TensorFlow|

Bellow are a few examples of evaluating arithmetic expressions in Python.

In [28]:
(3*4)+5
#This a simple arithmetic expression to multiply then add integers

17

In [30]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

Author

Luis Bernal